.auth_page {
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100%;
  min-height: 100vh;
  background: #fdfdfd;
  position: relative;
}

.auth_page form{
  background: #fff;
  max-width: 400px;
  width: 100%;
  border: 1px solid #ddd;
  padding: 0 25px 25px 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}
.auth_page form .pass{
  position: relative;
}
.auth_page form .pass small{
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 5px;
  padding-right: 10px;
  cursor: pointer;
  opacity: 0.5;
  
}
.auth_page form .logo_login {
  max-width: 350px;
}
.auth_page .login_btn {
  width: 100%;
  margin-top: 10px;
  padding: 5px;
  background: var(--bg-color);
  border: 1px solid var(--light-green);
  border-radius: 10px;
}
.row {
  display: flex;
  justify-content: space-around;
  margin: 15px; /* Adjust spacing */
}

.row label {
  font-size: 16px;
  display: flex;
  align-items: center;

}
label input[type="radio"] {
  margin-left: 5px; 
}   

/* css newpassword */
.new-password-container .logo_login{
max-width: 350px;
}
.new-password-container {
  background: #fff;
  max-width: 400px;
  width: 100%;
  border: 1px solid #ddd;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.new-password-container label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.new-password-container input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.new-password-container button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.new-password-container button:hover {
  background-color: #45a049;
}


