/*--------- Status ---------- */
.status{
    background: white;
    box-shadow: 0 0 5px #ddd;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0, .125);
}
.status .statusBtn{
    background: #f1f1f1;
    border: none;
    outline: none;
    border-radius: 30px;
    color: #555;
    padding: 0 10px;
    text-align: left;
    margin: 0 5px;
}
.status .statusBtn:hover{
    background: #ddd;
}

/* ------------Posts ------ */
.posts .card{
    box-shadow: 0 0 4px #ddd;
}
/* --------- Post Card Header --------- */
.posts .card_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 15px 25px;
}
.posts .card_header .card_name{
    transform: translateY(3px);
}

/* ---------- Post Card Body ---------- */
.posts .card_body-content{
    padding: 0 25px;
    margin-top: -10px;
    margin-bottom: 10px;
}
.posts .card_body-content .readMore{
    color: crimson;
    cursor: pointer;
}

/* ---------- Post Card Footer ---------- */
.posts .card_icon_menu{
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    cursor: pointer;
}
.posts .card_icon_menu i{
    font-size: 28px;
    margin: 10px;
}
.posts .card_icon_menu img{
    width: 28px;
    height: 28px;
    transform: translate(5px, -5px);
    opacity: 0.9;
}
* Status style  */
.status {
    background: #fff;
    box-shadow: 0 0 10px #ddd;
    padding: 20px;
    border-radius: 5px;
}

.status .status_button{
    background: var(--bg-color);
    border: none;
    outline: none;
    border-radius: 30px;
    color: #555;
    padding: 0 10px;
    text-align: left;
    margin: 0 10px;
    font-size: 1rem;
}

.status .status_button:hover {
    border: 1px solid var(--light-green);
}

/* Post style  */
/* Card header  */
.posts .card_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 15px 25px;
}
.posts .card_header .dropdown-menu {
    position: absolute;
    left: inherit !important;
    right: 0;
}
.posts .card_header .dropdown-item {
    display: flex;
    margin: 5px 0;
}
/* Card body  */

.posts .card_body .content {
    padding: 0 25px;
    margin-top: -10px;
    margin-bottom: 10px;
} 
.posts .card_body .content .readMore {
    cursor: pointer;
    color: #5e5e5e;
}

.posts .card_body small {
    padding-left: 25px;
    font-style: italic;
    font-size: 12px;
    color: #adadad;
}

.carousel-inner {
    height: 600px;
}

.carousel-inner video,
.carousel-inner img{
    height: 600px;
    object-fit: contain;
}
img, video {
    filter: invert(0); /* Normal mode */
    /* Optional border for better visibility */
    border-style: none;
}

img.dark-theme, 
video.dark-theme {
    filter: invert(1); /* Inverted for dark mode */
}
.posts .card_body .content span {
    white-space: pre-line;
}
/* Card footer */
.posts .card_icon_menu {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    cursor: pointer;
}

.card_icon_menu span {
    font-size: 1.5rem;
    margin: 10px;
}

.card_footer .shareModal {
    background: var(--bg-color);
}

.switch_post {
    text-align: center;
    font-weight: 600;
    padding: 10px 0;
    border: 1px solid var(--bg-color);
    border-radius: 5px;
    background: linear-gradient(0, var(--bg-color), #fff);
}