.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  position: relative;
  width: 50px;
  height: 50px;
}

.dot {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #77e07c;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

.dot1 { top: 0; left: 50%; animation-delay: -1.1s; }
.dot2 { top: 14%; left: 85%; animation-delay: -1s; }
.dot3 { top: 50%; left: 100%; animation-delay: -0.9s; }
.dot4 { top: 85%; left: 85%; animation-delay: -0.8s; }
.dot5 { top: 100%; left: 50%; animation-delay: -0.7s; }
.dot6 { top: 85%; left: 14%; animation-delay: -0.6s; }
.dot7 { top: 50%; left: 0%; animation-delay: -0.5s; }
.dot8 { top: 14%; left: 14%; animation-delay: -0.4s; }
.time-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px; /* Độ cao của thanh */
  background-color: #cecfce; /* Màu của thanh thời gian */
  animation: countdown 5s linear forwards; /* Thời gian chạy là 5s */
}

@keyframes countdown {
  from {
    width: 100%; /* Bắt đầu với chiều rộng đầy đủ */
  }
  to {
    width: 0%; /* Kết thúc với chiều rộng bằng 0 */
  }
}

@keyframes spin {
  0% { transform: scale(1); }
  50% { transform: scale(1.5); }
  100% { transform: scale(1); }
}
