
.share-modal {
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 10px 20px; 
     background-color: #f0f0f0; 
     border-radius: 20px; 
     box-shadow: 0 4px 8px rgba(54, 53, 53, 0.1);
     max-width: 770px; 
     margin: 10px;
     transition: all 0.3s ease;
   }
   

   .share-modal button {
     outline: none;
     border: none;
     background: none;
     cursor: pointer;
     transition: transform 0.3s ease, box-shadow 0.3s ease;
   }
   

   .share-modal button:hover {
     transform: scale(1.05);
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
   }
   
  
   .share-modal button > svg {
     width: 30px; 
     height: 30px;
   }

   @media (max-width: 768px) {
     .share-modal {
       padding: 5px 10px;
       max-width: 100%;
     }
   
     .share-modal button > svg {
       width: 28px; 
       height: 28px;
     }
   }
   
   